<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>20</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1357</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>1D72C4DB-D20D-420D-B086-1F84B9DB7C9C</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>height</key>
    <integer>60</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>nbspace</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>dottedCircle</string>
      <string>comma</string>
      <string>exclam</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>candrabindu_chakma</string>
      <string>candrabindu_visarga</string>
      <string>candrabindu_iMatra</string>
      <string>candrabindu_iMatra_aMatra</string>
      <string>candrabindu_iiMatra</string>
      <string>candrabindu_iiMatra_aMatra</string>
      <string>anusvara_chakma</string>
      <string>anusvara_candrabindu</string>
      <string>anusvara_iMatra</string>
      <string>anusvara_iMatra_aMatra</string>
      <string>anusvara_iiMatra</string>
      <string>anusvara_iiMatra_aMatra</string>
      <string>visarga_chakma</string>
      <string>visarga_iMatra</string>
      <string>visarga_iMatra_aMatra</string>
      <string>visarga_iiMatra</string>
      <string>visarga_iiMatra_aMatra</string>
      <string>visarga_anusvara</string>
      <string>maayyaa_iMatra_aMatra</string>
      <string>maayyaa_iiMatra_aMatra</string>
      <string>aa_chakma</string>
      <string>i_chakma</string>
      <string>u_chakma</string>
      <string>e_chakma</string>
      <string>kaa_chakma</string>
      <string>khaa_chakma</string>
      <string>gaa_chakma</string>
      <string>ghaa_chakma</string>
      <string>ngaa_chakma</string>
      <string>caa_chakma</string>
      <string>chaa_chakma</string>
      <string>jaa_chakma</string>
      <string>jhaa_chakma</string>
      <string>nyaa_chakma</string>
      <string>ttaa_chakma</string>
      <string>tthaa_chakma</string>
      <string>ddaa_chakma</string>
      <string>ddhaa_chakma</string>
      <string>nnaa_chakma</string>
      <string>taa_chakma</string>
      <string>thaa_chakma</string>
      <string>daa_chakma</string>
      <string>dhaa_chakma</string>
      <string>naa_chakma</string>
      <string>paa_chakma</string>
      <string>phaa_chakma</string>
      <string>baa_chakma</string>
      <string>bhaa_chakma</string>
      <string>maa_chakma</string>
      <string>yyaa_chakma</string>
      <string>yaa_chakma</string>
      <string>raa_chakma</string>
      <string>laa_chakma</string>
      <string>waa_chakma</string>
      <string>saa_chakma</string>
      <string>haa_chakma</string>
      <string>vaa_chakma</string>
      <string>aMatra_chakma</string>
      <string>iMatra_chakma</string>
      <string>iiMatra_chakma</string>
      <string>uMatra_chakma</string>
      <string>uMatra_chakma.alt</string>
      <string>uuMatra_chakma</string>
      <string>uuMatra_chakma.alt</string>
      <string>eMatra_chakma</string>
      <string>eMatra_chakma.alt</string>
      <string>doubleEMatra_chakma</string>
      <string>doubleEMatra_chakma.alt</string>
      <string>aiMatra_chakma</string>
      <string>aiMatra_chakma.short</string>
      <string>aiMatra_candrabindu</string>
      <string>aiMatra_candrabindu.short</string>
      <string>aiMatra_anusvara</string>
      <string>aiMatra_anusvara.short</string>
      <string>aiMatra_visarga</string>
      <string>aiMatra_visarga.short</string>
      <string>aiMatra_maayyaa</string>
      <string>aiMatra_maayyaa.short</string>
      <string>oMatra_chakma</string>
      <string>auMatra_chakma</string>
      <string>oiMatra_chakma</string>
      <string>oiMatra_chakma.short</string>
      <string>oiMatra_candrabindu</string>
      <string>oiMatra_candrabindu.short</string>
      <string>oiMatra_anusvara</string>
      <string>oiMatra_anusvara.short</string>
      <string>oiMatra_visarga</string>
      <string>oiMatra_visarga.short</string>
      <string>oiMatra_maayyaa</string>
      <string>oiMatra_maayyaa.short</string>
      <string>iMatra_aMatra</string>
      <string>iiMatra_aMatra</string>
      <string>oMark_chakma</string>
      <string>auMark_chakma</string>
      <string>virama_chakma</string>
      <string>maayyaa_chakma</string>
      <string>maayyaa_iMatra</string>
      <string>maayyaa_iiMatra</string>
      <string>zero_chakma</string>
      <string>one_chakma</string>
      <string>two_chakma</string>
      <string>three_chakma</string>
      <string>four_chakma</string>
      <string>five_chakma</string>
      <string>six_chakma</string>
      <string>seven_chakma</string>
      <string>eight_chakma</string>
      <string>nine_chakma</string>
      <string>section_chakma</string>
      <string>danda_chakma</string>
      <string>doubledanda_chakma</string>
      <string>question_chakma</string>
      <string>lhaa_chakma</string>
      <string>aaMatra_chakma</string>
      <string>eiMatra_chakma</string>
      <string>u_chakma.below</string>
      <string>shorteiMatra</string>
      <string>kaa_chakma.below</string>
      <string>khaa_chakma.below</string>
      <string>gaa_chakma.below</string>
      <string>ghaa_chakma.below</string>
      <string>ngaa_chakma.below</string>
      <string>caa_chakma.below</string>
      <string>chaa_chakma.below</string>
      <string>jaa_chakma.below</string>
      <string>jhaa_chakma.below</string>
      <string>nyaa_chakma.below</string>
      <string>ttaa_chakma.below</string>
      <string>tthaa_chakma.below</string>
      <string>ddaa_chakma.below</string>
      <string>ddhaa_chakma.below</string>
      <string>nnaa_chakma.below</string>
      <string>taa_chakma.below</string>
      <string>thaa_chakma.below</string>
      <string>daa_chakma.below</string>
      <string>dhaa_chakma.below</string>
      <string>naa_chakma.below</string>
      <string>paa_chakma.below</string>
      <string>phaa_chakma.below</string>
      <string>baa_chakma.below</string>
      <string>bhaa_chakma.below</string>
      <string>maa_chakma.below</string>
      <string>yyaa_chakma.post</string>
      <string>yaa_chakma.below</string>
      <string>raa_chakma.below</string>
      <string>raa_chakma.below.curve</string>
      <string>raa.below_oMark</string>
      <string>raa.below_oMark.curve</string>
      <string>raa.below_auMark</string>
      <string>raa.below_auMark.curve</string>
      <string>laa_chakma.below</string>
      <string>laa_chakma.below.alt</string>
      <string>waa_chakma.below</string>
      <string>saa_chakma.below</string>
      <string>haa_chakma.below</string>
      <string>haa_chakma.below.alt</string>
      <string>lhaa_chakma.below</string>
      <string>vaa_chakma.below</string>
      <string>ngaa_aaMatra</string>
      <string>ngaa_eiMatra</string>
      <string>ngaa_e.below</string>
      <string>jhaa_aaMatra</string>
      <string>jhaa_eiMatra</string>
      <string>jhaa_e.below</string>
      <string>jhaa_yyaa.post</string>
      <string>nyaa_raa.below</string>
      <string>nyaa_yyaa.post</string>
      <string>ttaa_aaMatra</string>
      <string>ttaa_eiMatra</string>
      <string>ttaa_e.below</string>
      <string>ttaa_yyaa.post</string>
      <string>tthaa_aaMatra</string>
      <string>tthaa_eiMatra</string>
      <string>tthaa_e.below</string>
      <string>ddaa_yyaa.post</string>
      <string>ddhaa_yyaa.post</string>
      <string>ghaa_chakma.alt</string>
      <string>chaa_chakma.alt</string>
      <string>jaa_chakma.alt</string>
      <string>nnaa_chakma.alt</string>
      <string>naa_chakma.alt</string>
      <string>yaa_chakma.alt</string>
      <string>yaa_chakma.alt2</string>
      <string>section_chakma.alt</string>
      <string>uni09E6</string>
      <string>uni09E7</string>
      <string>uni09E8</string>
      <string>uni09E9</string>
      <string>uni09EA</string>
      <string>uni09EB</string>
      <string>uni09EC</string>
      <string>uni09ED</string>
      <string>uni09EE</string>
      <string>uni09EF</string>
      <string>uni1040</string>
      <string>uni1041</string>
      <string>uni1042</string>
      <string>uni1043</string>
      <string>uni1044</string>
      <string>uni1045</string>
      <string>uni1046</string>
      <string>uni1047</string>
      <string>uni1048</string>
      <string>uni1049</string>
      <string>jhaa_yyaa_aaMatra</string>
      <string>jhaa_yyaa_eiMatra</string>
      <string>ngaa_yyaa_aaMatra</string>
      <string>ngaa_yyaa_eiMatra</string>
      <string>ttaa_yyaa_aaMatra</string>
      <string>ttaa_yyaa_eiMatra</string>
      <string>tthaa_yyaa_aaMatra</string>
      <string>tthaa_yyaa_eiMatra</string>
      <string>jhaa.base</string>
      <string>jhaa_yyaa_e.below</string>
      <string>ngaa_yyaa_e.below</string>
      <string>ttaa.base</string>
      <string>ttaa_yyaa_e.below</string>
      <string>tthaa.base</string>
      <string>tthaa_yyaa_e.below</string>
      <string>aa.below_yyaa.post</string>
      <string>i.below_yyaa.post</string>
      <string>chaa_chakma.alt.below</string>
      <string>ghaa_chakma.alt.below</string>
      <string>jaa_chakma.alt.below</string>
      <string>naa_chakma.alt.below</string>
      <string>nnaa_chakma.alt.below</string>
      <string>raa.below_oMark.short</string>
      <string>raa.below_uMark</string>
      <string>raa.below_uMark.short</string>
      <string>raa.below_uuMark</string>
      <string>raa.below_uuMark.alt</string>
      <string>raa.below_uuMark.short</string>
      <string>raa.below_uuMark.short.alt</string>
      <string>raa_chakma.below_uuMatra.alt</string>
      <string>raa_chakma.below_uuMatra</string>
      <string>raa.below_uMatra</string>
      <string>shorteiMatra_yyaa.post</string>
      <string>yyaa_chakma.post.alt1</string>
      <string>yyaa_chakma.post.alt2</string>
      <string>yyaa_chakma.post.alt3</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>aMatra_chakma</key><string>mark</string>
      <key>aa.below_yyaa.post</key><string>mark</string>
      <key>aaMatra_chakma</key><string>mark</string>
      <key>aa_chakma</key><string>base</string>
      <key>aiMatra_anusvara</key><string>mark</string>
      <key>aiMatra_anusvara.short</key><string>mark</string>
      <key>aiMatra_candrabindu</key><string>mark</string>
      <key>aiMatra_candrabindu.short</key><string>mark</string>
      <key>aiMatra_chakma</key><string>mark</string>
      <key>aiMatra_chakma.short</key><string>mark</string>
      <key>aiMatra_maayyaa</key><string>mark</string>
      <key>aiMatra_maayyaa.short</key><string>mark</string>
      <key>aiMatra_visarga</key><string>mark</string>
      <key>aiMatra_visarga.short</key><string>mark</string>
      <key>anusvara_candrabindu</key><string>mark</string>
      <key>anusvara_chakma</key><string>mark</string>
      <key>anusvara_iMatra</key><string>mark</string>
      <key>anusvara_iMatra_aMatra</key><string>mark</string>
      <key>anusvara_iiMatra</key><string>mark</string>
      <key>anusvara_iiMatra_aMatra</key><string>mark</string>
      <key>auMark_chakma</key><string>mark</string>
      <key>baa_chakma</key><string>base</string>
      <key>baa_chakma.below</key><string>mark</string>
      <key>bhaa_chakma</key><string>base</string>
      <key>bhaa_chakma.below</key><string>mark</string>
      <key>caa_chakma</key><string>base</string>
      <key>caa_chakma.below</key><string>mark</string>
      <key>candrabindu_chakma</key><string>mark</string>
      <key>candrabindu_iMatra</key><string>mark</string>
      <key>candrabindu_iMatra_aMatra</key><string>mark</string>
      <key>candrabindu_iiMatra</key><string>mark</string>
      <key>candrabindu_iiMatra_aMatra</key><string>mark</string>
      <key>candrabindu_visarga</key><string>mark</string>
      <key>chaa_chakma</key><string>base</string>
      <key>chaa_chakma.alt</key><string>base</string>
      <key>chaa_chakma.alt.below</key><string>mark</string>
      <key>chaa_chakma.below</key><string>mark</string>
      <key>daa_chakma</key><string>base</string>
      <key>daa_chakma.below</key><string>mark</string>
      <key>ddaa_chakma</key><string>base</string>
      <key>ddaa_chakma.below</key><string>mark</string>
      <key>ddaa_yyaa.post</key><string>base</string>
      <key>ddhaa_chakma</key><string>base</string>
      <key>ddhaa_chakma.below</key><string>mark</string>
      <key>ddhaa_yyaa.post</key><string>base</string>
      <key>dhaa_chakma</key><string>base</string>
      <key>dhaa_chakma.below</key><string>mark</string>
      <key>dottedCircle</key><string>base</string>
      <key>e_chakma</key><string>base</string>
      <key>eiMatra_chakma</key><string>mark</string>
      <key>gaa_chakma</key><string>base</string>
      <key>gaa_chakma.below</key><string>mark</string>
      <key>ghaa_chakma</key><string>base</string>
      <key>ghaa_chakma.alt</key><string>base</string>
      <key>ghaa_chakma.alt.below</key><string>mark</string>
      <key>ghaa_chakma.below</key><string>mark</string>
      <key>haa_chakma</key><string>base</string>
      <key>haa_chakma.below</key><string>mark</string>
      <key>haa_chakma.below.alt</key><string>mark</string>
      <key>i.below_yyaa.post</key><string>mark</string>
      <key>iMatra_aMatra</key><string>mark</string>
      <key>iMatra_chakma</key><string>mark</string>
      <key>i_chakma</key><string>base</string>
      <key>iiMatra_aMatra</key><string>mark</string>
      <key>iiMatra_chakma</key><string>mark</string>
      <key>jaa_chakma</key><string>base</string>
      <key>jaa_chakma.alt</key><string>base</string>
      <key>jaa_chakma.alt.below</key><string>mark</string>
      <key>jaa_chakma.below</key><string>mark</string>
      <key>jhaa_aaMatra</key><string>base</string>
      <key>jhaa_chakma</key><string>base</string>
      <key>jhaa_chakma.below</key><string>mark</string>
      <key>jhaa_e.below</key><string>base</string>
      <key>jhaa_eiMatra</key><string>base</string>
      <key>jhaa_yyaa.post</key><string>base</string>
      <key>jhaa_yyaa_aaMatra</key><string>base</string>
      <key>jhaa_yyaa_e.below</key><string>base</string>
      <key>jhaa_yyaa_eiMatra</key><string>base</string>
      <key>kaa_chakma</key><string>base</string>
      <key>kaa_chakma.below</key><string>mark</string>
      <key>khaa_chakma</key><string>base</string>
      <key>khaa_chakma.below</key><string>mark</string>
      <key>laa_chakma</key><string>base</string>
      <key>laa_chakma.below</key><string>mark</string>
      <key>laa_chakma.below.alt</key><string>mark</string>
      <key>lhaa_chakma</key><string>base</string>
      <key>lhaa_chakma.below</key><string>mark</string>
      <key>maa_chakma</key><string>base</string>
      <key>maa_chakma.below</key><string>mark</string>
      <key>maayyaa_chakma</key><string>mark</string>
      <key>maayyaa_iMatra</key><string>mark</string>
      <key>maayyaa_iMatra_aMatra</key><string>mark</string>
      <key>maayyaa_iiMatra</key><string>mark</string>
      <key>maayyaa_iiMatra_aMatra</key><string>mark</string>
      <key>naa_chakma</key><string>base</string>
      <key>naa_chakma.alt</key><string>base</string>
      <key>naa_chakma.alt.below</key><string>mark</string>
      <key>naa_chakma.below</key><string>mark</string>
      <key>ngaa_aaMatra</key><string>base</string>
      <key>ngaa_chakma</key><string>base</string>
      <key>ngaa_chakma.below</key><string>mark</string>
      <key>ngaa_e.below</key><string>base</string>
      <key>ngaa_eiMatra</key><string>base</string>
      <key>ngaa_yyaa_aaMatra</key><string>base</string>
      <key>ngaa_yyaa_e.below</key><string>base</string>
      <key>ngaa_yyaa_eiMatra</key><string>base</string>
      <key>nnaa_chakma</key><string>base</string>
      <key>nnaa_chakma.alt</key><string>base</string>
      <key>nnaa_chakma.alt.below</key><string>mark</string>
      <key>nnaa_chakma.below</key><string>mark</string>
      <key>nyaa_chakma</key><string>base</string>
      <key>nyaa_chakma.below</key><string>mark</string>
      <key>nyaa_raa.below</key><string>base</string>
      <key>nyaa_yyaa.post</key><string>base</string>
      <key>oMark_chakma</key><string>mark</string>
      <key>oiMatra_anusvara</key><string>mark</string>
      <key>oiMatra_anusvara.short</key><string>mark</string>
      <key>oiMatra_candrabindu</key><string>mark</string>
      <key>oiMatra_candrabindu.short</key><string>mark</string>
      <key>oiMatra_chakma</key><string>mark</string>
      <key>oiMatra_chakma.short</key><string>mark</string>
      <key>oiMatra_maayyaa</key><string>mark</string>
      <key>oiMatra_maayyaa.short</key><string>mark</string>
      <key>oiMatra_visarga</key><string>mark</string>
      <key>oiMatra_visarga.short</key><string>mark</string>
      <key>paa_chakma</key><string>base</string>
      <key>paa_chakma.below</key><string>mark</string>
      <key>phaa_chakma</key><string>base</string>
      <key>phaa_chakma.below</key><string>mark</string>
      <key>raa.below_auMark</key><string>mark</string>
      <key>raa.below_auMark.curve</key><string>mark</string>
      <key>raa.below_oMark</key><string>mark</string>
      <key>raa.below_oMark.short</key><string>mark</string>
      <key>raa.below_uMark</key><string>mark</string>
      <key>raa.below_uMark.short</key><string>mark</string>
      <key>raa.below_uMatra</key><string>mark</string>
      <key>raa.below_uuMark</key><string>mark</string>
      <key>raa.below_uuMark.alt</key><string>mark</string>
      <key>raa.below_uuMark.short</key><string>mark</string>
      <key>raa.below_uuMark.short.alt</key><string>mark</string>
      <key>raa_chakma</key><string>base</string>
      <key>raa_chakma.below</key><string>mark</string>
      <key>raa_chakma.below.curve</key><string>mark</string>
      <key>raa_chakma.below_uuMatra</key><string>mark</string>
      <key>raa_chakma.below_uuMatra.alt</key><string>mark</string>
      <key>saa_chakma</key><string>base</string>
      <key>saa_chakma.below</key><string>mark</string>
      <key>shorteiMatra</key><string>mark</string>
      <key>shorteiMatra_yyaa.post</key><string>mark</string>
      <key>taa_chakma</key><string>base</string>
      <key>taa_chakma.below</key><string>mark</string>
      <key>thaa_chakma</key><string>base</string>
      <key>thaa_chakma.below</key><string>mark</string>
      <key>ttaa_aaMatra</key><string>base</string>
      <key>ttaa_chakma</key><string>base</string>
      <key>ttaa_chakma.below</key><string>mark</string>
      <key>ttaa_e.below</key><string>base</string>
      <key>ttaa_eiMatra</key><string>base</string>
      <key>ttaa_yyaa.post</key><string>base</string>
      <key>ttaa_yyaa_aaMatra</key><string>base</string>
      <key>ttaa_yyaa_e.below</key><string>base</string>
      <key>ttaa_yyaa_eiMatra</key><string>base</string>
      <key>tthaa_aaMatra</key><string>base</string>
      <key>tthaa_chakma</key><string>base</string>
      <key>tthaa_chakma.below</key><string>mark</string>
      <key>tthaa_e.below</key><string>base</string>
      <key>tthaa_eiMatra</key><string>base</string>
      <key>tthaa_yyaa_aaMatra</key><string>base</string>
      <key>tthaa_yyaa_e.below</key><string>base</string>
      <key>tthaa_yyaa_eiMatra</key><string>base</string>
      <key>uMatra_chakma</key><string>mark</string>
      <key>uMatra_chakma.alt</key><string>mark</string>
      <key>u_chakma</key><string>base</string>
      <key>u_chakma.below</key><string>mark</string>
      <key>uuMatra_chakma</key><string>mark</string>
      <key>uuMatra_chakma.alt</key><string>mark</string>
      <key>vaa_chakma</key><string>base</string>
      <key>vaa_chakma.below</key><string>mark</string>
      <key>virama_chakma</key><string>mark</string>
      <key>visarga_anusvara</key><string>mark</string>
      <key>visarga_chakma</key><string>mark</string>
      <key>visarga_iMatra</key><string>mark</string>
      <key>visarga_iMatra_aMatra</key><string>mark</string>
      <key>visarga_iiMatra</key><string>mark</string>
      <key>visarga_iiMatra_aMatra</key><string>mark</string>
      <key>waa_chakma</key><string>base</string>
      <key>waa_chakma.below</key><string>mark</string>
      <key>yaa_chakma</key><string>base</string>
      <key>yaa_chakma.alt</key><string>base</string>
      <key>yaa_chakma.alt2</key><string>base</string>
      <key>yaa_chakma.below</key><string>mark</string>
      <key>yyaa_chakma</key><string>base</string>
      <key>yyaa_chakma.post</key><string>mark</string>
      <key>yyaa_chakma.post.alt1</key><string>mark</string>
      <key>yyaa_chakma.post.alt2</key><string>mark</string>
      <key>yyaa_chakma.post.alt3</key><string>mark</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>aa.below_yyaa.post</key>
      <string>uniA733.below_yyaa.post</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
    <key>width</key>
    <integer>80</integer>
  </dict>
</plist>
